<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioSocial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA9DBBC12F7572E60073B4BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9DBBCE2F7572EA0073B4BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9DBBD82F7572EA0073B4BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
